
#logo{
    width: 10%;
    display:inline;
    position: absolute;
    left:5%;
}

#question_button{
  width:33%;
  align-items: center;
  margin:10px;

}

body{
    text-align: center;
}

footer{
    position: fixed;
    bottom:0px;
    left:0px;
    width:100%;
    margin-top:2%;
   
   }
   
   li{
       padding-left: 3px;
       padding-right: 3px;
       display:inline;
   }

   a{
    text-decoration: none;
}